#top {

    .nav-btn {
        @include visuallyhidden;
    }
}

#nav {

    .close-btn {
        @include visuallyhidden;
    }

    .block-title {
        @include visuallyhidden;
    }

}

.sidebar {
    float: left; width: 30%;
}

#main {
    float: left; width: 65%; margin-left: 5%;
}